<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="static/styles/base.css">
  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
